body{
    background-color: antiquewhite;
    color: black;
}

.ansh{
    color: blue;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
}
.link{color: rebeccapurple;
    font-family: cursive
    ;}
     .hello{ color: burlywood;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    .new{ color:blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }